body {
  margin: 0;
  font-family: Verdana, Tahoma, sans-serif;
  user-select: none;
  display: flex;
}

/* モーダル */
label {
  cursor: pointer;
}
.open_label {
  position: fixed;
  z-index: 1;
}
#input {
  position: absolute;
  left: -50vw;
}
#input:checked + .modal {
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background: rgba(0,0,0,.7);
  z-index: 1;
}
#input:checked ~ header {
  left: 0;
}

/* ヘッダー */
header {
  position: fixed;
  height: 100vh; width : 220px; left : -220px;
  background: #4285f4;
  overflow-y: auto;
  scrollbar-width: none;/* Firefox 対応 */
  transition: left .3s;
  z-index: 1;
}
header::-webkit-scrollbar {/* Chrome, Safari 対応 */
  display:none;
}
ul {
  margin: 0; padding: 5px;
  font-size: 30px;
  color: aliceblue;
  list-style: none;
}
li {
  cursor: pointer;
}
.li_div_div {
  margin-top: 20px;
  border: 2px solid #fff;
  border-radius: 5px;
}
.title_div {
  padding-left: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #4285f4;
  background: #fff;
}
.li_div {
  text-align: center;
  padding: 3px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 3px;
}
.li_div li {
  border: 2px solid #ccc;
  border-radius: 5px;
}
.li_div li:hover {
  background: blue;
}
header li.active {
  color: yellow;
  background: blue;
}
.img_span {
  display: inline-block;
  width: 40px; height: 40px;
}
.img_span > img {
  width: 100%; height: 100%;
  vertical-align: bottom;
}

main {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;/* Firefox 対応 */
}
main::-webkit-scrollbar {/* Chrome, Safari 対応 */
  display:none;
}

section {display: none;}
.home_section.active {display: block;}
.bbs_section.active  {display: block;}
.photo_section.active{display: block;}

/* ホーム */
.home_section {
  width: min(800px, 95%);
  margin: 20px auto;
}
h1 {
  text-align: center;
  color: #4285f4;
}
.iframe_div {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}
.iframe_div iframe {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}
.news_fieldset {
  border: 2px solid orange;
  border-radius: 10px;
  padding: 0 2px;
}
legend {text-align: center;}

/* 掲示板 */
.bbs_section {
  height: 100vh;
}
.bbs_section iframe {
  width: 100%; height: 100%;
}

/* 写真 */
.photo_section {
  width: min(600px, 95%);
  margin: 20px auto;
}
.main_img_div {
  position: relative;
}
/* スライドボタン */
.play_div,
.left_div,
.right_div{
  position: absolute;
  opacity: .6;
  cursor: pointer;
}
.play_div:hover,
.left_div:hover,
.right_div:hover{
  opacity: 1;
  transition: opacity .3s;
}
.play_div {
  color: red;
  padding: 1px 3px;
  font-weight: bold;
  text-align: center;
  width: 50px;
  margin: auto;
  top: -15px;
  left: 0; right: 0;
  border: 2px solid red;
  border-radius: 5px;
}
.left_div {
  top: 50%;
  left: -5px;
  border-width: 20px 20px 20px 0;
  border-color: transparent #4285f4 transparent ;
  border-style: solid;
}
.right_div {
  top: 50%;
  right: -5px;
  border-width: 20px 0 20px 20px;
  border-color: transparent #4285f4 transparent ;
  border-style: solid;
}
/* アイコンボタン類 */
.icon_div {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}
.icon_div > img {
  opacity: .5;
  cursor: pointer;
}
.icon_div > img.active {opacity: 1;}
img {width: 100%;}

/* ローディングアイコン */
.loading_icon {
  display: none;
}
.loading_icon.active {
  display: block;
  width:   200px;
  height:  200px;
  margin:  20px auto;
  border-width: 15px;
  border-style: solid;
  border-color: gray transparent gray gray;
  border-radius: 50%;
  animation: loading .7s infinite linear;
}
@keyframes loading {
  100% {transform: rotate(360deg);}
}

@media(min-width: 900px) {
  header {
    left: 0;
  }
  main {
    padding-left: 220px;
  }
  .open_label,
  .close_label {
    display: none;
  }
}